body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}
main,
footer {
  padding: 0 15px;
}

header {
  background-color: #263248;
}
header h1 {
  margin: 0;
}
header h1 a {
  color: #fff;
  text-decoration: none;
}

footer {
  border-top: 1px solid #ccc;
  margin: 20px 10px 10px 0;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}